body{
  background: rgb(220, 87, 229);
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  background-image: url(glowéImages/image8.webp);
  background-size: cover;
  background-color:rgb(242, 193, 221) ;
}
h1{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
#cart-items{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: rgba(204, 17, 204, 0.478);
  border-radius: 20px;
  box-shadow: 2px 2p 2px 2px;
  max-height: 400px;
  overflow-y: auto;
  align-items: center;
}
.cart-img{
  width: 80px;
  height: auto;
  border-radius: 10px;
}
.remove-btn{
  height: 40px;
  width:100px ;
  border-radius: 10px;
  color: aliceblue;
  background: rgb(236, 13, 236);
  margin-left: 50px;
  border: none;cursor: pointer;
}
.remove-btn{
  background: aliceblue;
  color:rgb(195, 19, 195);
  transition:0.1s;
  
}
#total-price{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}
.Back-to-shop{
  height: 40px;
  width:100px ;
  border-radius: 10px;
  color: aliceblue;
  background: rgb(195, 19, 195);
  margin:20px auto;
  border: none;cursor: pointer;
  text-align: center;
  display: block;
}
.back-to-shop:hover{
  background: aliceblue;
  color:rgb(195, 19, 195);
  transition: 0.1s;

}